@model List<Rental>

<section id="rental-list" class="position-relative">
    <div class="container my-5 py-5">
        <h2 class="text-center my-5">Kiralama Bilgileri</h2>

        @if (Model == null || !Model.Any())
        {
            <p>Kiralama bilgisi bulunamadı.</p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Araba ID</th>
                        <th>Müşteri ID</th>
                        <th>Kiralama Tarihi</th>
                        <th>Dönüş Tarihi</th>
                        <th>Toplam Maliyet</th>
                        <th>Teslim Alınacak Konum</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rental in Model)
                    {
                        <tr>
                            <td>@rental.Id</td>
                            <td>@rental.CarId</td>
                            <td>@rental.CustomerId</td>
                            <td>@rental.RentalDate.ToShortDateString()</td>
                            <td>@rental.ReturnDate.ToShortDateString()</td>
                            <td>$@rental.TotalCost</td>
                            <td>@rental.PickupLocation</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</section>
