@model List<Rental>

<section id="rental-list" class="position-relative">
    <div class="container my-5 py-5">
        <h2 class="text-center my-5">Kiralık Araçlar</h2>

        @if (Model == null || !Model.Any())
        {
            <p>Kiralık araç bulunamadı.</p>
        }
        else
        {
            <div class="row">
                @foreach (var car in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="@car.ImgUrl" class="card-img-top img-fluid" alt="@car.Make @car.Model">
                            <div class="card-body">
                                <h4 class="card-title">@car.Make @car.Model</h4>
                                <p class="card-text">Günlük Fiyat: $@car.DailyRate</p>
                                <a href="@Url.Action("RentalDetails", "Rental", new { id = car.Id })" class="btn btn-primary">
                                    Kiralamayı Görüntüle
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>
