@using CarRental.Controllers
@using static CarRental.Controllers.HomeController
@model List<Car>
@{
    ViewData["Title"] = "GoCar Page";
}

@* //Home *@
<!-- hero section start  -->
<section id="hero" class=" position-relative overflow-hidden">
    <div class="pattern-overlay pattern-right position-absolute">
        <img src="images/hero-pattern-right.png" alt="pattern">
    </div>
    <div class="pattern-overlay pattern-left position-absolute">
        <img src="images/hero-pattern-left.png" alt="pattern">
    </div>
    <div class="hero-content container text-center">
        <div class="row">
            <div class="detail mb-4">
                <h1 class="">Kiralık Arabanızı <span class="text-primary"> Bulun </span> </h1>
                <p class="hero-paragraph">Seyahatlerinizi Bir Üst Seviyeye Taşıyan Kiralık Araç Seçenekleri!</p>
            </div>
        </div>
    </div>
</section>
@* Kiralama kısmı *@
<!-- search section start  -->
<section id="search">
    <div class="container search-block p-5">

        <form class="row">
            <div class="col-12 col-md-6 col-lg-3 mt-4 mt-lg-0">
                <label for="vehicle" class="label-style text-capitalize form-label">Araç Tipi</label>
                <div class="input-group date ">
                    <!-- <input type="text" class="form-control p-3 " id="vehicle" placeholder="Select Car Group" /> -->
                    <select class="form-select form-control p-3" id="vehicle" aria-label="Default select example"
                            style="background-image: none;">
                        <option selected>Araç Tipini Seçiniz</option>
                        <option value="1">BMW x3</option>
                        <option value="2">BMW M2</option>
                        <option value="3">Ford explorer</option>
                        <option value="4">Ferrari</option>
                        <option value="5">Mercedes-Benz</option>
                        <option value="6">Sports car</option>
                        <option value="7">Tesla</option>
                    </select>
                    <span class="search-icon-position position-absolute p-3 ">
                        <iconify-icon class="search-icons" icon="solar:bus-outline"></iconify-icon>
                    </span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-4 mt-lg-0">
                <label for="location" class="label-style text-capitalize form-label">Teslim Alınacak Konum</label>
                <div class="input-group date">
                    <input type="text" class="form-control p-3 position-relative" id="location"
                           placeholder="Havaalanında veya herhangi bir yerde" />
                    <span class="search-icon-position position-absolute p-3 ">
                        <iconify-icon class="search-icons" icon="solar:map-arrow-square-outline"></iconify-icon>
                    </span>


                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-4 mt-lg-0">
                <label for="pick-up-date" class="label-style text-capitalize form-label">Teslim Alınacak Tarih</label>
                <div class="input-group date" id="datepicker1">
                    <input type="text" class="form-control p-3" id="pick-up-date" />

                    <span class="input-group-append">
                        <span class="search-icon-position position-absolute p-3">
                            <iconify-icon class="search-icons" icon="solar:calendar-broken"></iconify-icon>
                        </span>
                    </span>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-4 mt-lg-0">
                <label for="return-date" class="label-style text-capitalize form-label">Teslim Tarihi</label>
                <div class="input-group date" id="datepicker2">
                    <input type="text" class="form-control p-3" id="return-date" />

                    <span class="input-group-append">
                        <span class="search-icon-position position-absolute p-3">
                            <iconify-icon class="search-icons" icon="solar:calendar-broken"></iconify-icon>
                        </span>
                    </span>

                </div>
            </div>
        </form>

        <div class="d-grid gap-2 mt-4">
            <button class="btn btn-primary " type="button">Araç Bul</button>
        </div>
    </div>

</section>

<!-- process section start  -->
<section id="process">
    <div class=" process-content container">
        <h2 class=" text-center my-5 pb-5">Kiralama<span class="text-primary"> Sürecimiz </span> </h2>
        <hr class="progress-line">
        <div class="row process-block">
            <div class="col-6 col-lg-3 text-start my-4">
                <div class="bullet"></div>
                <h5 class="text-uppercase mt-5"> Bir Araç Seçin</h5>
                
            </div>

            <div class="col-6 col-lg-3 text-start my-4">
                <div class="bullet"></div>
                <h5 class="text-uppercase mt-5"> Konum & Tarih Seçin</h5>
               
            </div>

            <div class="col-6 col-lg-3 text-start my-4">
                <div class="bullet"></div>
                <h5 class="text-uppercase mt-5"> Aracınızı Ayırtın</h5>
                
            </div>

            <div class="col-6 col-lg-3 text-start my-4">
                <div class="bullet"></div>
                <h5 class="text-uppercase mt-5"> Süreci Tamamlayın</h5>
             
            </div>

        </div>


    </div>
</section>

<!-- rental section start  -->
<!-- rental section start  -->


<section id="rental" class="position-relative">
    <div class="container my-5 py-5">
        <h2 class="text-center my-5">Cars for <span class="text-primary"> rental </span></h2>

        <div class="swiper rental-swiper mb-5">
            <div class="swiper-wrapper">
                @if (Model == null || !Model.Any())
                {
                    <p>Araç bulunamadı.</p>
                }
                else
                {
                    foreach (var car in Model)
                    {
                        <div class="swiper-slide">
                            <div class="card">
                                
                                <img src="@car.ImgUrl" class="card-img-top img-fluid" alt="...">
                                <div class="card-body p-4">
                                    <a href="car-single.html">
                                        <h4 class="card-title">@car.Make @car.Model</h4>
                                    </a>

                                    <div class="card-text ">
                                        <ul class="d-flex list-unstyled">
                                            <li class="rental-list">@car.Model</li>
                                            <li class="rental-list">
                                                <img src="images/dot.png" class="px-3" alt="image">
                                            </li>
                                            <li class="rental-list"> Auto</li>
                                            <li class="rental-list">
                                                <img src="images/dot.png" class="px-3" alt="image">
                                            </li>
                                            <li class="rental-list"> 4 Passengers </li>
                                            <li class="rental-list">
                                                <img src="images/dot.png" class="px-3" alt="image">
                                            </li>
                                            <li class="rental-list display-small"> @car.Model.</li>
                                        </ul>
                                    </div>

                                    <div class="d-flex justify-content-between">
                                        <h3 class="pt-2">$@car.DailyRate <span class="rental-price">/day</span></h3>
                                        <a href="Rent/Index" class="btn btn-primary">Şimdi Kirala</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>


<!-- testimonial section start  -->
<section id="testimonial" class=" position-relative">
    <div class="pattern-overlay pattern-left position-absolute">
        <img src="images/testimonial-pattern.png" alt="pattern">
    </div>
    <div class="container my-5 py-5">
        <div class="swiper testimonial-swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide text-center">
                    <div class="offset-2 col-8">
                        <iconify-icon icon="mdi:format-quote-open" class="testimonial-icon"></iconify-icon>
                        <p class="testimonial-paragraph">
                            "Araba kiralama deneyimim mükemmeldi! Araçlar son derece temiz ve bakımlıydı, personel ise son derece profesyonel ve yardımcıydı. Kolay rezervasyon süreci ve hızlı teslimat, bu hizmeti kesinlikle tavsiye ederim."
                        </p>
                        <h5>Sophie Dubois</h5>
                    </div>
                </div>
                <div class="swiper-slide text-center">
                    <div class="offset-2 col-8">
                        <iconify-icon icon="mdi:format-quote-open" class="testimonial-icon"></iconify-icon>
                        <p class="testimonial-paragraph">
                            "Kiraladığım araç beklentilerimin ötesindeydi. Konforu, güvenliği ve yakıt verimliliği harikaydı. Müşteri hizmetleri de oldukça ilgili ve çözüm odaklıydı. Yolculuğumu sorunsuz ve keyifli hale getirdiler."
                        </p>
                        <h5>Isabella Martinez</h5>
                    </div>
                </div>
                <div class="swiper-slide text-center">
                    <div class="offset-2 col-8">
                        <iconify-icon icon="mdi:format-quote-open" class="testimonial-icon"></iconify-icon>
                        <p class="testimonial-paragraph">
                            "Bu araç kiralama firması, her seferinde kaliteli hizmet sunuyor. Geniş araç seçenekleri ve kullanıcı dostu rezervasyon sistemi, ihtiyacınıza uygun mükemmel aracı bulmanızı sağlıyor. Kesinlikle güvenilir ve profesyonel bir hizmet."
                        </p>
                        <h5>James Rodrigo</h5>
                    </div>
                </div>
                <div class="swiper-slide text-center">
                    <div class="offset-2 col-8">
                        <iconify-icon icon="mdi:format-quote-open" class="testimonial-icon"></iconify-icon>
                        <p class="testimonial-paragraph">
                            "Kiraladığım araç yeni ve oldukça konforluydu. Hızlı ve sorunsuz teslim alma süreci sayesinde vakit kaybetmeden yola çıkabildim. Ayrıca, müşteri destek ekibi son derece nazik ve yardımcıydı. Harika bir deneyim yaşadım!"
                        </p>
                        <h5>Alexander Novak</h5>
                    </div>
                </div>



            </div>
            <div class="swiper-pagination position-unset mt-4"></div>
        </div>
    </div>



</section>

<!-- pricing section start  -->
<section id="pricing">
    <div class=" container  py-5 my-5">
        <h2 class=" text-center my-5">Fiyatlandırma Planımıza <span class="text-primary">Gözatın</span> </h2>

        <div class="d-flex justify-content-center">
            <label class="pt-2" id="monthly-label">Aylık</label>
            <span class="form-check form-switch p-0">
                <input class="form-check-input mx-2" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                       checked>
                <label class="pt-2" id="yearly-label" for="flexSwitchCheckChecked">Yıllık</label>
            </span>
        </div>


        <div class="row py-4">
            <div class="  col-lg-3 col-sm-6 col-12 pb-4">
                <div class=" pricing-lable pt-5 ">
                    <div class="pt-3 ps-2">
                        <h3>
                            En iyi planımızı seçerek tasarruf edin
                        </h3>
                        
                    </div>

                    <iconify-icon class="pricing-lable-icon "
                                  icon="fluent:vehicle-car-profile-ltr-20-regular"></iconify-icon>


                </div>
            </div>

            <div class=" col-lg-3 col-sm-6 col-12 pb-4">
                <div class=" pricing-detail py-5  text-center">
                    <div class="pricing-content">
                        <h5>Temel Paket</h5>

                        <div class="content monthly pt-2">
                            <h3>$29.50</h3>
                        </div>
                        <div class="content yearly pt-2">
                            <h3>$350.70</h3>
                        </div>

                        <div class="pt-4">
                            <p> ✓ Araç Kiralama: Temel araç kiralama hizmetleri.</p>
                            <p> ✓ Yardımcı Sürücü: Ek sürücü ekleme imkanı.</p>
                            <p> ✓ Yol Yardım Hizmeti:Ücretsiz olarak 24 saat yol yardımı.</p>
                            <p> ✓ Sigorta: Temel kaza ve hasar sigortası.</p>
                            <p> ✓ Kilometre Sınırlaması: Belirli bir kilometre sınırı.</p>
                        </div>

                    </div>

                    <div class="pricing-button">
                        <button class="btn btn-primary">Choose Plan </button>
                    </div>
                </div>
            </div>

            <div class=" col-lg-3 col-sm-6 col-12 pb-4">
                <div class=" pricing-detail py-5  text-center">
                    <div class="pricing-content">
                        <h5 class="price-recommend">Önerilen Paket</h5>
                        <div class="content monthly pt-2">
                            <h3>$44.40</h3>
                        </div>
                        <div class="content yearly pt-2">
                            <h3>$530.60</h3>
                        </div>

                        <div class="pt-4">
                            <p> ✓ Yol Yardım Hizmeti:Ücretsiz olarak 24 saat yol yardımı.</p>
                            <p> ✓ Sigorta: Daha kapsamlı sigorta seçenekleri.</p>
                            <p> ✓ Kilometre Sınırlaması: Daha yüksek kilometre sınırı.</p>
                            <p> ✓ Navigasyon Sistemi: Araç içi GPS ve navigasyon.</p>
                            <p> ✓ Ekstra Konfor: Daha konforlu koltuklar veya iç mekan özellikleri.</p>
                        </div>

                    </div>

                    <div class="pricing-button">
                        <button class="btn btn-primary active">Choose Plan </button>
                    </div>
                </div>
            </div>

            <div class=" col-lg-3 col-sm-6 col-12 pb-4">
                <div class=" pricing-detail py-5  text-center">
                    <div class="pricing-content">
                        <h5>Profesyonel Paket</h5>
                        <div class="content monthly pt-2">
                            <h3>$70.50</h3>
                        </div>
                        <div class="content yearly pt-2">
                            <h3>$840.30</h3>
                        </div>

                        <div class="pt-4">
                            <p> ✓ Kilometre Sınırlaması: Sınırsız kilometre veya çok yüksek kilometre sınırı.</p>
                            <p> ✓ Navigasyon Sistemi: Gelişmiş navigasyon ve akıllı araç sistemleri.</p>
                            <p> ✓ Ekstra Konfor: Üst düzey konfor özellikleri.</p>
                            <p> ✓ Havaalanı Teslimatı:Havaalanı hizmetleri.</p>
                            <p> ✓ Özel İhtiyaçlar: İsteğe bağlı ek hizmetler.</p>
                        </div>

                    </div>

                    <div class="pricing-button">
                        <button class="btn btn-primary">Choose Plan </button>
                    </div>
                </div>
            </div>


        </div>


    </div>
</section>

<!-- services section start  -->
<section id="services">

    <div class="container  py-5 my-5">
        <div class="row py-5 ">
            <div class=" pb-5  col-10 col-sm-8 col-lg-6">
                <h2 class="">Çözüm için<span class="text-primary"> En İyi</span> Hizmetleri Görün </h2>
            </div>
            <div class=" pb-5  col-lg-6">
                <p class="pt-4">
                    Sizlere en uygun ve kaliteli hizmetleri sunmak için geniş bir seçenek yelpazesi sunuyoruz. İhtiyacınıza uygun araçlar, güvenli ödeme yöntemleri ve kapsamlı destek seçenekleriyle sorunsuz bir deneyim yaşamanızı sağlıyoruz. Her adımda mükemmeliyet hedefiyle yanınızdayız.
                </p>
            </div>
        </div>

    </div>

</section>

<section id="service-2">
    <div class=" services-sub container mb-5 pb-5">
        <div class="row">
            <div class=" mt-4 col-6 col-lg-3">
                <div class="services-components text-center pt-4 pb-3">
                    <iconify-icon class="services-icon my-2" icon="solar:shield-check-outline"></iconify-icon>
                    <h5>
                        Güvenli Ödeme
                    </h5>
                    <p>
                        Kişisel bilgilerinizin korunması bizim önceliğimizdir. Güvenli ödeme sistemlerimiz sayesinde işlemlerinizi rahatça gerçekleştirebilirsiniz.

                    </p>
                </div>
            </div>
            <div class=" mt-4 col-6 col-lg-3">
                <div class="services-components text-center pt-4 pb-3">
                    <iconify-icon class="services-icon my-2" icon="solar:bookmark-opened-outline"></iconify-icon>
                    <h5>
                        Her Sınıf Araç
                    </h5>
                    <p>İhtiyacınıza uygun her tür araç seçeneği sunuyoruz. Konforlu ve güvenli bir sürüş için en uygun aracı kolayca bulun.</p>
                </div>
            </div>
            <div class=" mt-4 col-6 col-lg-3">
                <div class="services-components text-center pt-4 pb-3">
                    <iconify-icon class="services-icon my-2" icon="solar:user-circle-outline"></iconify-icon>
                    <h5>
                        Araç Kiralama Seçenekleri
                    </h5>
                    <p>Araç paylaşım hizmetlerimizle, ihtiyacınıza göre esnek ve ekonomik çözümler sunuyoruz. İster günlük ister uzun dönem kiralama, seçeneklerimizle her zaman yanınızdayız.</p>
                </div>
            </div>
            <div class=" mt-4 col-6 col-lg-3">
                <div class="services-components text-center pt-4 pb-3">
                    <iconify-icon class="services-icon my-2" icon="solar:call-chat-outline"></iconify-icon>
                    <h5>
                        Yardım Merkezi & Destek
                    </h5>
                    <p>Herhangi bir sorunuz veya sorununuz için yardım merkezimiz 7/24 hizmetinizde. Size en iyi destek ve çözümü sunmak için buradayız.</p>
                </div>
            </div>

        </div>
    </div>

</section>

<!-- faq section start  -->
<section id="faq">

    <div class="container my-5 py-5 ">
        <h2 class=" text-center my-5">Siz Sormadan<span class="text-primary"> Biz Cevaplayalım!</span> </h2>


        <div class="accordion col-md-8 offset-md-2" id="accordionPanelsStayOpenExample">

            <div class="accordion-item mt-3">
                <h5 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                        Neden GoCar Araç Kiralama Servisini Tercih Etmelisiniz?
                    </button>
                </h5>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <p>
                            GoCar, araç kiralamada yüksek güvenlik standartlarını ve müşteri memnuniyetini ön planda tutar. Deneyimli ekibimiz, size özel çözümler sunarak her türlü ihtiyacınızı karşılar. Kaliteli araçlarımız ve profesyonel hizmetimizle, kiralama deneyiminizi sorunsuz hale getiriyoruz.
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="accordion-item mt-3">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                        En İyi Kiralama Fiyatını Nasıl Belirleyebilirsiniz?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                     aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        <p>
                            En uygun kiralama fiyatını belirlemek için, araç özelliklerini ve ek hizmetleri karşılaştırarak ihtiyacınıza en uygun seçeneği bulabilirsiniz. GoCar, şeffaf fiyatlandırma politikasıyla, gizli ücretler olmadan en iyi teklifi sunar. Size en iyi değeri sağlamak için çeşitli seçenekler sunuyoruz.
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="accordion-item mt-3">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                        GoCar’ın En Seçkin Özellikleri Nelerdir?
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                     aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <p>
                            GoCar, kullanıcı dostu rezervasyon sistemleri ve geniş araç yelpazesiyle dikkat çeker. 24/7 müşteri desteğimiz ve esnek kiralama seçeneklerimizle her zaman yanınızdayız. Güvenli ödeme sistemlerimiz ve ekstra hizmetlerimizle, rahat bir kiralama deneyimi yaşamanızı sağlarız.
                        </p>
                    </div>
                </div>
            </div>
            <hr>




        </div>

    </div>
</section>

<!-- call-to-action section start  -->
<section id="action" class="position-relative">

    <div class="pattern-overlay pattern-right position-absolute">
        <img src="images/call-to-action-pattern.png" alt="pattern">
    </div>

    <div class="container  py-5 my-5">
        <div class="row py-5 ">
            <div class=" col-10 col-sm-8 col-lg-6">
                <h2 class="">GoCar <span class="text-primary">Kiralamaya Başlayalım!</span> </h2>
            </div>
            <div class=" col-lg-6">
                <p>
                    Aklına takılan her şeyi bize sorabilirsin!
                </p>
                <a href="contact.html" class="btn btn-primary mt-2">Bizimle İletişime Geç </a>
            </div>
        </div>

    </div>

</section>
